{% extends 'base2.html.twig' %}

{% block title %}New Nutrition{% endblock %}

{% block body %}
    <h1>Create new Nutrition</h1>

    {{ include('nutrition/_form.html.twig') }}

    <a href="{{ path('nutrition_index') }}">back to list</a>
{% endblock %}
