{% extends 'baseFrontend.html.twig' %}

{% block title %}Modification profil{% endblock %}

{% block body %}
    <div class="row" style="background-color: #f3d6a0;opacity: 0.9;">
        <div class="col-lg-8 mx-auto">
            {{ form_start(form,{attr: {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <br>
    <form id="deleteMember" style="display: inline-block" action="{{ url('deleteProfileMember',{'id':app.user.getId}) }}">
        <button class="btn btn-info" onclick="event.preventDefault();
        confirm('Voulez-vous vraiment supprimer votre compte?' +
         ' Toutes vos informations seront supprimées et vous ne pourriez plus vous connecter.') &&
        document.getElementById('deleteMember').submit();">
            Supprimer mon compte
        </button>
    </form>

{% endblock %}
