{% extends 'base.html.twig' %}

{% block title %}specialites{% endblock %}





{% block body %}

<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="RDV avec">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Specialités</title>
    <link rel="stylesheet" href="nicepage1/nicepage.css" media="screen">
<link rel="stylesheet" href="nicepage1/Specialités.css" media="screen">
    <script class="u-script" type="text/javascript" src="nicepage1/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage1/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.10.2, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">


    <script type="application/ld+json">
    {
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"url": "index.html"
    }
</script>
    <meta property="og:title" content="Specialités">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
  </head>
  <body class="u-body">
    <section class="u-clearfix u-section-1" id="sec-f18a">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-1">Rendez-Vous avec :</h1>
        <img src="nicepage1/images/nut.jpg" alt="" class="u-image u-image-default u-preserve-proportions u-image-1" data-image-width="900" data-image-height="600" data-animation-name="tada" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="" data-href="teleconsultation">
        <img src="nicepage1/images/psych.jpg" alt="" class="u-image u-image-default u-preserve-proportions u-image-2" data-image-width="650" data-image-height="370" data-animation-name="tada" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="" data-href="psychotherapeute">
        <img src="nicepage1/images/coachsp1.jpg" alt="" class="u-image u-image-default u-preserve-proportions u-image-3" data-image-width="600" data-image-height="290" data-href="coachsportif" data-animation-name="tada" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
        <h3 class="u-text u-text-2">Coach sportif</h3>
        <h3 class="u-text u-text-3">Psychothérapeute</h3>
        <h3 class="u-text u-text-4">Nutritionniste</h3>
      </div>
    </section>




  </body>
</html>

{% endblock %}